//Colores basicos 
$gris-fondo: #ecf4f3;
$pistacho: #d1eecc;
$agua-mar: #76dbd1;
$menta: #57a99a;

//Colores Letras
$gris-texto: #354649;
$gris-titulos: #6c7a89;
$gris-navbar: #e0e7e9;
$ultimo-color: #a3c6c4;

//Tamaño Fuentes
$xxxxx-large: 50px ;
$xxxx-large: 45px ;
$xxx-large: 40px ;
$xx-large: 35px ;
$x-large: 30px ;
$large: 20px ;
$medium: 16px ;
$small: 14px ;
$x-small: 12px ;