@import url('https://fonts.googleapis.com/css2?family=Galada&family=Libre+Baskerville:wght@700&family=Overlock:ital@1&display=swap');

//tipos de letras 

$over-lock: 'Overlock', cursive;
$galada: 'Galada', cursive;
$libre-bask: 'Libre Baskerville', serif;