.botones{
    background-color: $menta;
    border-radius: 10px;
    font-family: $over-lock;
    color: $gris-navbar;
    margin: 3px;
    text-align: center;
    align-self: center;
}
.botones:hover{
    background-color: $pistacho;
    color: $gris-texto;
    border: none;
}