.inputA{
        font-family: $over-lock;
        text-align: center;
        color: $gris-texto;
        font-size: $large;
        
    }
.inputA:focus{ 
    border-color:$pistacho;
    box-shadow: 0 0 0 0.2rem $pistacho;
    outline: 0;
}