.navbar{
    background-color: $agua-mar;
    color: $gris-titulos;
    font-family: $over-lock;
    font-size: $large;
    display: flex;
    justify-content: center;
    align-items: center;
    &__logo{
    width: 4.5em;
    height: 4.5em;
}

}