@import url("https://fonts.googleapis.com/css2?family=Galada&family=Libre+Baskerville:wght@700&family=Overlock:ital@1&display=swap");
#barrabusqueda {
  display: flex;
  justify-content: center;
  align-items: center;
}

.busqueda__inputs {
  margin: 5% 0 2% 0;
}
.busqueda__inputs__lyric {
  text-align: center;
}

.busqueda__col {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.busqueda__botones {
  background-color: #57a99a;
  border-radius: 10px;
  font-family: "Overlock", cursive;
  color: #e0e7e9;
  margin: 3px;
  text-align: center;
  align-self: center;
  border: none;
}

.busqueda__botones:hover {
  background-color: #d1eecc;
  color: #354649;
  border: none;
}

.header__bienvenida {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header__bienvenida--logo {
  background: url("../img/logo-buscasongfinal.png");
  height: 5rem;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  padding: 10%;
  margin-bottom: 1%;
}
.header__bienvenida--texto {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Libre Baskerville", serif;
  color: #6c7a89;
}
.header__bienvenida--texto p {
  text-align: center;
  font-family: "Overlock", cursive;
  color: #354649;
}

.inputA {
  font-family: "Overlock", cursive;
  text-align: center;
  color: #354649;
  font-size: 20px;
}

.inputA:focus {
  border-color: #d1eecc;
  box-shadow: 0 0 0 0.2rem #d1eecc;
  outline: 0;
}

.navbar {
  background-color: #76dbd1;
  color: #ffffff;
  font-family: "Overlock", cursive;
  font-size: 20px;
  display: flex;
  align-items: center;
  font-weight: bold;
}
.navbar__logo {
  width: 4.5rem;
  height: 4rem;
}

.resultado__cards {
  margin-bottom: 10%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.resultado__cards--titulo {
  font-family: "Galada", cursive;
  font-size: 35px;
  text-align: center;
}
.resultado__cards--subtitulo {
  font-family: "Galada", cursive;
}
.resultado__cards--logo {
  width: 30px;
  height: 30px;
  color: #57a99a;
}
.resultado__cards--texto {
  font-family: "Overlock", cursive;
  font-size: 20px;
  text-align: center;
  line-height: normal;
}

.scroll {
  max-height: 18rem;
  overflow-y: scroll;
}

#app {
  background-color: #ecf4f3;
}

body {
  margin: 0;
  padding: 0;
}

@media all and (max-width: 699px) and (min-width: 520px) {
  #encabezado {
    display: flex;
    flex-direction: column;
  }

  .header__bienvenida--logo {
    width: 50%;
    height: 140px;
  }

  #barrabusqueda .busqueda__inputs {
    display: flex;
    flex-direction: column;
    margin-top: 2%;
  }

  #resultado .resultado__cards--titulo {
    display: flex;
    flex-direction: column;
    margin-top: 3%;
  }
}
@media all and (max-width: 1000px) and (min-width: 700px) {
  #resultado .resultado__cards--titulo {
    display: flex;
    flex-direction: row;
  }
}
.ingreso {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 10% 0 10%;
}
.ingreso__titulo {
  font-family: "Libre Baskerville", serif;
}
.ingreso__logo {
  border-radius: 20px;
  width: 10em;
  height: 10em;
}
.ingreso__input {
  font-family: "Overlock", cursive;
  text-align: center;
  background-color: #d1eecc;
}
.ingreso__botones {
  margin-top: 2%;
}

/*# sourceMappingURL=style.css.map */
